In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import sent_tokenize, word_tokenize
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tymek\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\tymek\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [148]:
df=pd.read_csv('PreProcessedData.csv', header=0, sep=',')

In [149]:
df.head()

,Unnamed: 0,title,text,Ground Label
0,0,Ann Coulter Make Believes She Has ‘Gay Friend...,"It s hard to believe, but Donald Trump does ha...",fake
1,1,Rating: Moody‘s verbessert Ausblick für Russla...,bankensektor Der russische Staat werde die Ban...,fake
2,2,CAN WE ADD DIRTY MONEY ‘LAUNDERING’ To The Oba...,A member of the House Intelligence Committee i...,fake
3,3,Republicans on Obamacare repeal: 'We're going ...,WASHINGTON (Reuters) - House of Representative...,true
4,4,"Trump, on possible DACA deal, says border wall...",WASHINGTON (Reuters) - U.S. President Donald T...,true

In [150]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69045 entries, 0 to 69044
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    69045 non-null  int64
 1   title         68365 non-null  object
 2   text          68978 non-null  object
 3   Ground Label  69045 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.1+ MB
None

In [151]:
# Deleting NA values
df=df.dropna(subset=['title', 'text'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68298 entries, 0 to 69044
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    68298 non-null  int64
 1   title         68298 non-null  object
 2   text          68298 non-null  object
 3   Ground Label  68298 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.6+ MB
None

In [152]:
print(df['Ground Label'].value_counts())

fake    41416
true    26882
Name: Ground Label, dtype: int64

In [153]:
import re
#punctuation removal
def remove_punctuations(s):
    s = re.sub(r'[^\w\s]', '', s)
    return s

In [154]:
for col in ['title', 'text']:
    df[col] = df[col].apply(remove_punctuations)
    df[col] = df[col].apply(word_tokenize)

In [155]:
#removing stopwords and lowercase ??? czy robic
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')
stop = stopwords.words('english')
lemmatizer = WordNetLemmatizer()
def remove_stopwords(s):
    s = [lemmatizer.lemmatize(word.lower()) for word in s if not word.lower() in stop]
    return s

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\tymek\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\tymek\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [156]:
#usunięcie powtarzalnych wyrazów
df['title'] = df['title'].apply(remove_stopwords)

In [157]:
df['text'] = df['text'].apply(remove_stopwords)

In [158]:
df.head()

,Unnamed: 0,title,text,Ground Label
0,0,"[ann, coulter, make, belief, gay, friend, make...","[hard, believe, donald, trump, sizable, amount...",fake
1,1,"[rating, moody, verbessert, ausblick, für, rus...","[bankensektor, der, russische, staat, werde, d...",fake
2,2,"[add, dirty, money, laundering, obama, 17, bil...","[member, house, intelligence, committee, accus...",fake
3,3,"[republican, obamacare, repeal, going, get, done]","[washington, reuters, house, representative, r...",true
4,4,"[trump, possible, daca, deal, say, border, wal...","[washington, reuters, u, president, donald, tr...",true

In [159]:
import textblob
from textblob import TextBlob

In [160]:
def subjectivity(text):
    blob = TextBlob(text)
    return blob.sentiment.subjectivity

In [161]:
def list2string(text):
    text = " ".join(wrd for wrd in text)
    return text

In [163]:
df2=df.copy()

In [164]:
df2.head()

,Unnamed: 0,title,text,Ground Label
0,0,"[ann, coulter, make, belief, gay, friend, make...","[hard, believe, donald, trump, sizable, amount...",fake
1,1,"[rating, moody, verbessert, ausblick, für, rus...","[bankensektor, der, russische, staat, werde, d...",fake
2,2,"[add, dirty, money, laundering, obama, 17, bil...","[member, house, intelligence, committee, accus...",fake
3,3,"[republican, obamacare, repeal, going, get, done]","[washington, reuters, house, representative, r...",true
4,4,"[trump, possible, daca, deal, say, border, wal...","[washington, reuters, u, president, donald, tr...",true

In [165]:
df2["text"] = df2["text"].apply(list2string)
df2['title'] = df2['title'].apply(list2string)

In [166]:
df2.head()

,Unnamed: 0,title,text,Ground Label
0,0,ann coulter make belief gay friend make racist...,hard believe donald trump sizable amount suppo...,fake
1,1,rating moody verbessert ausblick für russlands...,bankensektor der russische staat werde die ban...,fake
2,2,add dirty money laundering obama 17 billion ir...,member house intelligence committee accusing o...,fake
3,3,republican obamacare repeal going get done,washington reuters house representative republ...,true
4,4,trump possible daca deal say border wall would...,washington reuters u president donald trump sa...,true

In [167]:
import re
def deleteUrl(text):
    return re.sub(r'(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:\'".,<>?«»“”‘’]))', '', text)

In [168]:
# usuwamy linki
df2['text'] = df2['text'].apply(deleteUrl)

In [169]:
from langdetect import detect

In [170]:
df2['texttype'] = df2['text'].apply(type)
df2['textlength'] = df2['text'].apply(len)

In [171]:
df2 = df2[df2['textlength'] > 0]

In [172]:
def shortenText(text):
    return text[:60]
df2['shorttext'] = df2['text'].apply(shortenText)

In [173]:
# usuwamy teksty które mają mniej niż 10 znaków - wszystkie to były typu 'watch this (some url)'
df2 = df2[df2['shorttext'].apply(len) > 10]

In [175]:
df2

,Unnamed: 0,title,text,Ground Label,texttype,textlength,shorttext
0,0,ann coulter make belief gay friend make racist...,hard believe donald trump sizable amount suppo...,fake,<class 'str'>,1364,hard believe donald trump sizable amount suppo...
1,1,rating moody verbessert ausblick für russlands...,bankensektor der russische staat werde die ban...,fake,<class 'str'>,1382,bankensektor der russische staat werde die ban...
2,2,add dirty money laundering obama 17 billion ir...,member house intelligence committee accusing o...,fake,<class 'str'>,1110,member house intelligence committee accusing o...
3,3,republican obamacare repeal going get done,washington reuters house representative republ...,true,<class 'str'>,421,washington reuters house representative republ...
4,4,trump possible daca deal say border wall would...,washington reuters u president donald trump sa...,true,<class 'str'>,425,washington reuters u president donald trump sa...
...,...,...,...,...,...,...,...
69040,69040,burundi opposition platform boycott new round ...,nairobi reuters burundi main opposition groupi...,true,<class 'str'>,1287,nairobi reuters burundi main opposition groupi...
69041,69041,hillary message former miss universe called mi...,miss universe 1996 alicia machado american cit...,fake,<class 'str'>,917,miss universe 1996 alicia machado american cit...
69042,69042,cop crash car run away cop arrive,daily sheeple ryan banister awardwinning calif...,fake,<class 'str'>,662,daily sheeple ryan banister awardwinning calif...
69043,69043,trump stole idea north korean propaganda parod...,jesus fcking christ president moron satisfied ...,fake,<class 'str'>,3428,jesus fcking christ president moron satisfied ...
69044,69044,breaking hillary clinton state department gave...,toast bigger trouble thought much whole thing ...,fake,<class 'str'>,1049,toast bigger trouble thought much whole thing ...

In [179]:
df2['lang'] = df2['shorttext'].apply(detect)

In [180]:
df3 = df2.copy()

In [181]:
df3['lang'].value_counts()

en       59662
fr        1498
it         949
ca         720
nl         581
es         576
no         552
da         467
ro         432
id         432
af         383
sv         221
ru         202
et         180
de         167
pt          94
sl          59
tl          45
pl          41
cy          34
sq          32
hr          30
fi          28
ar          22
tr          16
so          16
lt          14
sk           8
sw           7
el           5
hu           3
lv           2
bg           2
zh-cn        1
cs           1
Name: lang, dtype: int64

In [182]:
# robimy model który będzie wykrywał po angielsku
df3 = df3[df3['lang']=='en']

In [183]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59662 entries, 0 to 69044
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    59662 non-null  int64
 1   title         59662 non-null  object
 2   text          59662 non-null  object
 3   Ground Label  59662 non-null  object
 4   texttype      59662 non-null  object
 5   textlength    59662 non-null  int64
 6   shorttext     59662 non-null  object
 7   lang          59662 non-null  object
dtypes: int64(2), object(6)
memory usage: 4.1+ MB

In [193]:
# sprzątanie
df4 = df3[['title', 'text', 'Ground Label']].reset_index(drop=True)

In [196]:
df4.rename(columns={'Ground Label': 'label'}, inplace=True)
df4.head()

,title,text,label
0,ann coulter make belief gay friend make racist...,hard believe donald trump sizable amount suppo...,fake
1,add dirty money laundering obama 17 billion ir...,member house intelligence committee accusing o...,fake
2,republican obamacare repeal going get done,washington reuters house representative republ...,true
3,trump possible daca deal say border wall would...,washington reuters u president donald trump sa...,true
4,trump administration force peace james p pinke...,originally appeared american conservative dona...,fake

In [197]:
df4.to_csv('ml_data.csv', index=False)

In [198]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59662 entries, 0 to 59661
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   59662 non-null  object
 1   text    59662 non-null  object
 2   label   59662 non-null  object
dtypes: object(3)
memory usage: 1.4+ MB

In [2]:
import pandas as pd

In [21]:
df5 = pd.read_csv('train_data.csv')

In [8]:
df5 = df5.head(10000)

In [9]:
df5

,title,text,label
0,western world respect law longer exists,western world respect law longer exists two im...,fake
1,watch president obama unleashes trump say terr...,interview cbs face nation sunday morning presi...,fake
2,guy punched moldylocks speaks violent antifa f...,nathan domingo founder identity europa guy see...,fake
3,say amazon tell customer forced federal govern...,come limiting free speech nothing lawless gove...,fake
4,antigun zealot katie couric hit 12 million def...,little miss sunshine fooled lot people year be...,fake
...,...,...,...
995,ustr lighthizer trump challenging china indust...,washington reuters top u trade negotiator said...,true
996,gop candidate gun nra rate,republican presidential candidate asked owned ...,fake
997,eu leader pledge extra 1 billion aid refugeess...,lead solution kind european union dictatorship...,fake
998,obamas tpp deal wont get senate vote year mcco...,washington reuters u senate majority leader mi...,true
999,trump say get intelligence briefing russia hac...,washington reuters presidentelect donald trump...,true

In [22]:
X_train = df5[['title', 'text']]
X_train

,title,text
0,western world respect law longer exists,western world respect law longer exists two im...
1,watch president obama unleashes trump say terr...,interview cbs face nation sunday morning presi...
2,guy punched moldylocks speaks violent antifa f...,nathan domingo founder identity europa guy see...
3,say amazon tell customer forced federal govern...,come limiting free speech nothing lawless gove...
4,antigun zealot katie couric hit 12 million def...,little miss sunshine fooled lot people year be...
...,...,...
29292,state attorney lied baltimore police probable ...,marilyn mosby held press conference today said...
29293,russia denies plane killed civilian syria deir...,moscow reuters russia defence ministry denied ...
29294,hungary wall versus u wall,oped catherine j frompovich currently european...
29295,pastor caught trump spiritual advisor stealing...,seems donald trump spiritual advisor exactly e...
29296,boom senator lindsey graham reason believe cli...,senator lindsey graham reason believe dnc hill...

In [23]:
# Bag of words - liczba wystąpień każdego słowa w danym tekście
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train['text'])

In [24]:
X_train_counts.shape

(29297, 196304)

In [25]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

  (0, 192577)	0.2736519926982794
  (0, 190120)	0.28279166061892846
  (0, 181573)	0.1685271264187178
  (0, 181051)	0.07736343596918627
  (0, 170477)	0.21699722008777855
  (0, 152864)	0.12158112170461592
  (0, 149339)	0.2936612185195418
  (0, 138163)	0.11054262083039307
  (0, 130285)	0.2785894108537734
  (0, 105473)	0.27441579609550576
  (0, 102003)	0.1883200386352048
  (0, 96435)	0.146696281672554
  (0, 89467)	0.11621984944935741
  (0, 84904)	0.38031798207666906
  (0, 68259)	0.07840894370502327
  (0, 64295)	0.3836508576199571
  (0, 61098)	0.23709062909980244
  (0, 48030)	0.23421663787513058
  (0, 21602)	0.13407511435009867
  (1, 193693)	0.11528197556391295
  (1, 192403)	0.04672863589012415
  (1, 191228)	0.07572261454191534
  (1, 190018)	0.11482241911435004
  (1, 189016)	0.09216540085353363
  (1, 188520)	0.06182468193521099
  :	:
  (29296, 82125)	0.2336522645327544
  (29296, 82100)	0.11716716400532964
  (29296, 76064)	0.19525613682321005
  (29296, 75988)	0.12515224089786461
  (29296, 73785)	0.10221688061024715
  (29296, 70112)	0.12358774295969743
  (29296, 69927)	0.1093210314806598
  (29296, 69344)	0.08934205362943798
  (29296, 60709)	0.29092929139568535
  (29296, 59542)	0.06848985346441698
  (29296, 56458)	0.2552879675235683
  (29296, 56075)	0.11358429245593833
  (29296, 55104)	0.09340535165112265
  (29296, 44069)	0.2336522645327544
  (29296, 44065)	0.1376699650673002
  (29296, 42906)	0.1463385508071093
  (29296, 41455)	0.058238048975673425
  (29296, 38455)	0.08477403377632775
  (29296, 37496)	0.11334114094417021
  (29296, 32053)	0.1123935193172605
  (29296, 29554)	0.06953435210328816
  (29296, 28027)	0.06968409201236532
  (29296, 25300)	0.10967324291741287
  (29296, 21244)	0.07721267320064178
  (29296, 15770)	0.07151603204964062