In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import sent_tokenize, word_tokenize

In [44]:
df=pd.read_csv('PreProcessedData.csv', header=0, sep=',')

In [24]:
df.head()

,Unnamed: 0,title,text,Ground Label
0,0,Ann Coulter Make Believes She Has ‘Gay Friend...,"It s hard to believe, but Donald Trump does ha...",fake
1,1,Rating: Moody‘s verbessert Ausblick für Russla...,bankensektor Der russische Staat werde die Ban...,fake
2,2,CAN WE ADD DIRTY MONEY ‘LAUNDERING’ To The Oba...,A member of the House Intelligence Committee i...,fake
3,3,Republicans on Obamacare repeal: 'We're going ...,WASHINGTON (Reuters) - House of Representative...,true
4,4,"Trump, on possible DACA deal, says border wall...",WASHINGTON (Reuters) - U.S. President Donald T...,true

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69045 entries, 0 to 69044
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    69045 non-null  int64
 1   title         68365 non-null  object
 2   text          68978 non-null  object
 3   Ground Label  69045 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.1+ MB
None

In [26]:
df=df.dropna(subset=['title', 'text', 'Ground Label'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68298 entries, 0 to 69044
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    68298 non-null  int64
 1   title         68298 non-null  object
 2   text          68298 non-null  object
 3   Ground Label  68298 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.6+ MB
None

In [10]:
print(df['Ground Label'].value_counts())

fake    41416
true    26882
Name: Ground Label, dtype: int64

In [45]:
df2=df

In [11]:
import re
#punctuation removal
def remove_punctuations(s):
    s = re.sub(r'[^\w\s]', '', s)
    return s

In [27]:
for col in ['title', 'text']:
    df[col] = df[col].apply(remove_punctuations)
    df[col] = df[col].apply(word_tokenize)

In [28]:
df1=df

In [15]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\karim\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [34]:
#removing stopwords and lowercase ??? czy robic
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
stop = stopwords.words('english')
lemmatizer = WordNetLemmatizer()
def remove_stopwords(s):
    s = [lemmatizer.lemmatize(word.lower()) for word in s if not word.lower() in stop]
    return s

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\karim\AppData\Roaming\nltk_data...

In [ ]:
#usunięcie mało powtarzalnych wyrazów

In [35]:
df['title'] = df['title'].apply(remove_stopwords)

In [36]:
df.head()

,Unnamed: 0,title,text,Ground Label
0,0,"[ann, coulter, make, belief, gay, friend, make...","[It, s, hard, to, believe, but, Donald, Trump,...",fake
1,1,"[rating, moody, verbessert, ausblick, für, rus...","[bankensektor, Der, russische, Staat, werde, d...",fake
2,2,"[add, dirty, money, laundering, obama, 17, bil...","[A, member, of, the, House, Intelligence, Comm...",fake
3,3,"[republican, obamacare, repeal, going, get, done]","[WASHINGTON, Reuters, House, of, Representativ...",true
4,4,"[trump, possible, daca, deal, say, border, wal...","[WASHINGTON, Reuters, US, President, Donald, T...",true

In [40]:
import textblob
from textblob import TextBlob

In [49]:
def (text):
    blob = TextBlob(text)
    return blob.sentiment.subjectivity

In [60]:
def list2string(text):
    text = " ".join(wrd for wrd in text)
    return text

In [61]:
df2=df

In [62]:
df2.head()

,Unnamed: 0,title,text,Ground Label
0,0,"[ann, coulter, make, belief, gay, friend, make...","[It, s, hard, to, believe, but, Donald, Trump,...",fake
1,1,"[rating, moody, verbessert, ausblick, für, rus...","[bankensektor, Der, russische, Staat, werde, d...",fake
2,2,"[add, dirty, money, laundering, obama, 17, bil...","[A, member, of, the, House, Intelligence, Comm...",fake
3,3,"[republican, obamacare, repeal, going, get, done]","[WASHINGTON, Reuters, House, of, Representativ...",true
4,4,"[trump, possible, daca, deal, say, border, wal...","[WASHINGTON, Reuters, US, President, Donald, T...",true

In [63]:
df2["text"] = df2["text"].apply(list2string)

0        It s hard to believe but Donald Trump does hav...
1        bankensektor Der russische Staat werde die Ban...
2        A member of the House Intelligence Committee i...
3        WASHINGTON Reuters House of Representatives Re...
4        WASHINGTON Reuters US President Donald Trump s...
                               ...
69040    NAIROBI Reuters Burundi s main opposition grou...
69041    Miss Universe 1996 Alicia Machado is now an Am...
69042    The Daily Sheeple by Ryan Banister An awardwin...
69043    Jesus fcking Christ our President is a moron N...
69044    IF SHE S NOT TOAST NOW THEN WE RE IN BIGGER TR...
Name: text, Length: 68298, dtype: object

In [65]:
df2["text"].apply(subjectivity)

0        0.527778
1        0.000000
2        0.381755
3        0.306325
4        0.562500
           ...
69040    0.263244
69041    0.535000
69042    0.210185
69043    0.607885
69044    0.269823
Name: text, Length: 68298, dtype: float64